<!-- <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
 <li>
 <%#= link_to('Login', new_user_session_path)  %>
  </li>
  <li>
    <%#= link_to "Register", new_user_registration_path %>
  </li>
<% end %> -->

<header>
  <div class="logo">
    <%= image_tag("new-instagram-text-logo.png" , alt: "Instagram logo") %>
    <%#= image_tag("instagram-logo.png") %>

  </div>
      <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href="#">Current User: <%= current_user.email if current_user.present? %></a>
          </li>

          <li class="item">
            <%#= link_to 'Logout', destroy_user_session_path %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>

          <li class="item" id='explore'>
            <a href="photos#index">
                <%= image_tag("compass-icon.png" , alt: "explore icon") %>
            </a>
          </li>

          <li class="item" id='notification'>
            <a href="relationships#follow_user">
                <%= image_tag("heart-black-white.png" , alt: "notification icon") %>
            </a>
          </li>

          <li class="item" id='profile'>
            <%= link_to 'Back', profile_path  %>

            <!-- <a href="profiles" class="profile"></a> -->

              <%= image_tag("person_profile_user.png" , alt: "profile user icon") %>
            <%#=  link_to image_tag("person_profile_user.png", border: 0), {action: 'show', controller: 'profile'} %>




          </li>
        </ul>



      </div>
    </header>
